##############################
## Folders                  ##
##############################
node_modules

##############################
## Netbeans conf            ##
##############################
.DS_Store
