##############################
## Folders                  ##
##############################
node_modules
build

##############################
## Netbeans conf            ##
##############################
.DS_Store
